<div class="container">
    <h3>Aktuelle Mitgliederliste</h3>
    <label for="filterInput">Filtern nach</label>
    <input id="filterInput" type="text"
           data-ng-change="vm.filterMemberlist()"
           data-ng-model="vm.filterText"
           data-ng-model-options="{ debounce: 250 }">
    <table class="table table-striped table-condensed">
        <tr>
            <th>Externe Mitgliedsnummer</th>
            <th>Vorname</th>
            <th>Name</th>
        </tr>
        <tr data-ng-repeat="member in vm.filteredMembers track by member.number">
            <td class="col-md-2 text-right">{{member.number}}</td>
            <td class="col-md-5">{{member.firstname}}</td>
            <td class="col-md-5">{{member.lastname}}</td>
        </tr>
    </table>
</div>